/* General Rules */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background: rgb(53, 52, 52);
    color: #ffff;
    min-height: 100vh;
}



/* Main Navigation/Header bar */

.logo-title {
    float: left;
    font-size: 3em;
    color: inherit;
    text-decoration: none;
    padding-top: 15px;
    padding-left: 15px;
}

.upper-nav {
    height: 100px;
    width: 100%;
    background-color: black;
}

.lower-nav {
    background-color: rgb(53, 52, 52);
    width: 100%;
    height: 40px;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.main-nav li {
    float: left;
    margin-top: 10px;
    padding-left: 7.50px;
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    padding: .5rem;
}

.main-nav a:hover {
    color: #fff;
    transition: .5s;
    background-color: #664b45;
}

.main-nav a:focus {
    color: #fff;
    background-color: #664b45;
}

.active {
    border-bottom: 1px solid white;
}

/* Landing page section */

.landing-page {
    position: relative;
}


.left {
    width: 50%;
    height: 100vh;
}


.right {
    width: 50%;
    height: 90vh;

    float: right;
    margin-top: 40px;
    padding-left: 20px;
}

.right p {
    letter-spacing: 2px;
}

.image {
    background-image: url(../images/computer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}



.title {
    font-size: 72px;
    text-align: left;
}

.subtitle {
    font-weight: normal;
    letter-spacing: 2px;
}

.button {
    background-color: #664b45;
    padding: 7.5px;
    border-radius: 3px;
    text-decoration: none;
    color: rgba(30, 31, 31);
}

.button:hover {
    color: white;
    transition: .5s;
}


/* 3 images section */

.img-section {
    margin-top: 35px;
    margin-bottom: 35px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.subtitle {
    text-align: center;
    font-size: 2em;
}

.left-about {
    width: 33%;
    height: 300px;
    float: left;
}

.img-html {
    background-image: url(../images/html.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;

}


.right-about {
    width: 33%;
    height: 300px;
    float: right;
}

.img-css {
    background-image: url(../images/css.png);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;


}

.center-about {
    width: 33%;
    height: 300px;
    margin: 0 auto;
}

.img-fullstack {
    background-image: url(../images/fullstack.jpeg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}






/* Iframe section */

/* About me page */

.aboutme {
    position: relative;
    margin: 0;
    padding: 0;
}

.right-me {
    width: 50%;
    height: 750px;
    float: right;
}

.left-me {
    width: 50%;
    height: 750px;
}

.myimage {
    background-image: url(../images/jacobmolsby.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 12.5%;

    width: 350px;
    height: 650px;
    border-radius: 40px;
}

/* Services*/

.service-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    letter-spacing: 2px;
}

.img-wrapper-service {
    width: 100%;
    height: 75vh;
    margin-bottom: 20px;
}

.service-image {
    background-image: url(../images/network.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 750px;

}

.box1 {
    width: 33%;
    height: 300px;
    float: left;
    text-align: center;
    background-color: rgba(102, 75, 69, 0.466);
}

#code {
    font-size: 3rem;
    margin-top: 30px;
}

.box2 {
    width: 33%;
    height: 300px;
    float: right;
    text-align: center;
    background-color: rgba(102, 75, 69, 0.466);
}

#pen {
    font-size: 3rem;
    margin-top: 30px;
}

.box3 {
    width: 33%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(102, 75, 69, 0.466);
    margin-bottom: 30px;
}

.box3 h3 {
    margin: 0;
}

#hand {
    font-size: 3rem;
    margin-top: 50px;
}

@media screen and (max-width: 650px) {
    .box1,
    .box2,
    .box3 {
        width: 100%;
        float: none;
        height: 300px;
        clear: both;
    }

    .box3 {
        margin-top: 20px;
    }


}











/* Work */

/* Contact */

.left-contact {
    width: 100%;
    height: 600px;

}

.right-contact {
    display: flex;
    justify-content: center;
    height: 500px;
}



.form-style {
    background-color: rgb(53, 52, 52);
    border: none;
    border-bottom: 1px solid white;
    text-align: left;
    margin-left: 30px;
    color: white;
    margin: 10px;
    width: 270px;
}

#submitc {
    width: 150px;
    height: 40px;
    letter-spacing: 1px;
    font-size: 1.12em;
    border: none;
}

#submitc:hover {
    background-color: rgb(53, 52, 52);
    color: white;
    border: 1px solid white;
    transition: .3s;
}

.form-style:hover {
    color: black;
    transition: .3s;
}

input[type="email"] {
    background-color: rgb(53, 52, 52);
    width: 270px;
}



#message {
    margin-bottom: 10px;
    width: 570px;
    resize: none;
    font-family: Raleway, sans-serif;
}

#planning-image {
    background-image: url(../images/planning.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    
}

#gallery-wrapper {
    width: 100%;
    height: 300px;
}

#img1 {
    background-image: url(../images/wireframe.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
    float: left;
    padding-right: 10px;
}

#img3 {
    background-image: url(../images/handshake.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
    float: right;
    padding-left: 10px;
}

#img2 {
    background-image: url(../images/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 300px;
    margin: 0 auto;
}


/* Footer */

.main-footer {
    padding: 0;
    margin: 0;
    height: 350px;
    width: 100%;
    background-color: black;
    position: relative;
}


[type=email] {
    color: white;
    background-color: black;
    border: none;
    border-bottom: 1px solid white;
}

#emailf {
    width: 400px;
}


#submitf {
    margin-top: 5px;
    background-color: white;
    border: none;
    width: 400px;
    height: 40px;
    font-size: 1.25em;
}

#submitf:hover {
    background-color: black;
    color: white;
    transition: .3s;
    border: 1px solid white;
}



#footer-form,
h2 {
    text-align: center;
}

#emailf {
    background-color: black;
}

#sub {
    margin-top: 0px;
    padding-top: 4rem;
    letter-spacing: 2px;
}

.social {
    text-align: right;
    
}

.social ul {
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}



.social li {
    margin-top: 30px;
}

.social a {
    color: white;
    text-align: center;
    margin-right: 66px;
    font-size: 2em;
}

.footer-nav ul {
    list-style-type: none;
    position: absolute;
    top: 0;
}



.footer-nav li {
    padding-left: 2rem;
    border-left: 1px solid white;
    margin-top: 30px;


}

.footer-nav a {
    text-decoration: none;
    margin-top: 30px;
    color: white;
}

.footer-nav a:hover {
    color: rgb(53, 52, 52);

}

.social a:hover {
    color: rgb(53, 52, 52);
}

/* Media Queries */



/* Landing page media */

@media screen and (min-width:1200px) {

    .img-html,
    .img-css,
    .img-fullstack {
        margin-left: 25%;
    }
}

@media screen and (max-width: 850px) {


    .img-html,
    .img-css,
    .img-fullstack {
        width: 100%;
        display: flex;
        margin-top: 20px;

    }

    .right-about,
    .left-about,
    .center-about {
        float: none;
        width: 300px;
        margin-top: 30px;
        margin: 0 auto;
        clear: both;
    }

    .center-about {
        clear: both;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 650px) {

    .left,
    .right {
        width: 100%;
    }

}

@media screen and (min-width: 1250px) {
    .right {
        margin-top: 5%;
        text-align: left;
        width: 50%;
        padding-right: 500px;
    }
}

/* Service page media */

@media screen and (max-width: 650px) {
    .box1,
    .box2,
    .box3 {
        width: 100%;
        float: none;
        height: 300px;
        clear: both;
    }

    .box3 {
        margin-top: 20px;
    }


}

/* Footer media */

@media screen and (max-width: 650px) {
    .footer-nav ul {
        position: relative;
        background-color: black;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;

    }

    .social ul {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width: 650px) {
    .social ul {
        padding-top: 40%;

    }

    .footer-nav ul {
        width: 50%;
        float: left;
    }

    .main-footer {
        height: 450px;
    }
}